#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	install -D -m 755 ../../count_files.sh \
		debian/count-files/usr/bin/count_files
	install -D -m 644 ../../count_files.conf \
		debian/count-files/etc/count-files/count_files.conf
